<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cffafb51cb6d4475a56b95a5d107b4a7" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_cffafb51cb6d4475a56b95a5d107b4a7 = echarts.init(
            document.getElementById('cffafb51cb6d4475a56b95a5d107b4a7'), 'white', {renderer: 'canvas'});
        var option_cffafb51cb6d4475a56b95a5d107b4a7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 4546
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 9569
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 6361
                },
                {
                    "name": "\u624b\u673a",
                    "value": 20724
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 1353
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 6735
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":         function() {            return '\u73e0\u4e09\u89d2';        }        
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 5522
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 7300
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 4620
                },
                {
                    "name": "\u624b\u673a",
                    "value": 27362
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 1261
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 6911
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":         function() {            return '\u7ca4\u4e1c';        }        
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 2586
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 2840
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 1885
                },
                {
                    "name": "\u624b\u673a",
                    "value": 11890
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 682
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 3424
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":         function() {            return '\u7ca4\u897f';        }        
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 1775
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 2017
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 1308
                },
                {
                    "name": "\u624b\u673a",
                    "value": 7368
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 372
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 2047
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":         function() {            return '\u7ca4\u5317';        }        
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7535\u89c6",
                "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                "\u5e73\u677f",
                "\u624b\u673a",
                "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "80%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u4f7f\u7528\u7684\u8bbe\u5907/\u6750\u6599\u5206\u5e03\u2014\u2014\u4e0d\u540c\u5730\u533a",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cffafb51cb6d4475a56b95a5d107b4a7.setOption(option_cffafb51cb6d4475a56b95a5d107b4a7);
    </script>
</body>
</html>
