<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f2db2e574f0f4b0199dec0e6a1b86431" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_f2db2e574f0f4b0199dec0e6a1b86431 = echarts.init(
            document.getElementById('f2db2e574f0f4b0199dec0e6a1b86431'), 'white', {renderer: 'canvas'});
        var option_f2db2e574f0f4b0199dec0e6a1b86431 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 6074
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 5180
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 4456
                },
                {
                    "name": "\u624b\u673a",
                    "value": 22877
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 1027
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 4822
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function() {                return '\u4e61\u9547\u5c0f\u5b66';            }            
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 2338
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 4250
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 2133
                },
                {
                    "name": "\u624b\u673a",
                    "value": 15225
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 785
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 4614
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function() {                return '\u4e61\u9547\u4e2d\u5b66';            }            
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 4001
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 5632
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 4512
                },
                {
                    "name": "\u624b\u673a",
                    "value": 14487
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 920
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 4043
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function() {                return '\u57ce\u533a\u5c0f\u5b66';            }            
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89c6",
                    "value": 2016
                },
                {
                    "name": "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                    "value": 6664
                },
                {
                    "name": "\u5e73\u677f",
                    "value": 3073
                },
                {
                    "name": "\u624b\u673a",
                    "value": 14755
                },
                {
                    "name": "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                    "value": 936
                },
                {
                    "name": "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599",
                    "value": 5638
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function() {                return '\u57ce\u533a\u4e2d\u5b66';            }            
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7535\u89c6",
                "\u53f0\u5f0f\u7535\u8111\u6216\u7b14\u8bb0\u672c\u7535\u8111",
                "\u5e73\u677f",
                "\u624b\u673a",
                "\u97f3\u9891(\u5e7f\u64ad\u3001\u5f55\u97f3)",
                "\u7eb8\u8d28\u5b66\u4e60\u8d44\u6599"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "80%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u4f7f\u7528\u7684\u8bbe\u5907/\u6750\u6599\u5206\u5e03\u2014\u2014\u4e0d\u540c\u5b66\u6821\u7c7b\u578b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f2db2e574f0f4b0199dec0e6a1b86431.setOption(option_f2db2e574f0f4b0199dec0e6a1b86431);
    </script>
</body>
</html>
