<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5e01a117f96f4d12a74d0bbb73f357f0" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_5e01a117f96f4d12a74d0bbb73f357f0 = echarts.init(
            document.getElementById('5e01a117f96f4d12a74d0bbb73f357f0'), 'white', {renderer: 'canvas'});
        var option_5e01a117f96f4d12a74d0bbb73f357f0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u7ebf\u4e0a\u8bfe\u5802\u76f4\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    22.57
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    24.76
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    26.75
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    29.68
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    31.24
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    32.7
                ],
                [
                    "\u521d\u4e00",
                    30.88
                ],
                [
                    "\u521d\u4e8c",
                    28.15
                ],
                [
                    "\u521d\u4e09",
                    27.05
                ],
                [
                    "\u9ad8\u4e00",
                    24.62
                ],
                [
                    "\u9ad8\u4e8c",
                    24.38
                ],
                [
                    "\u9ad8\u4e09",
                    23.18
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7ebf\u4e0a\u8bfe\u5802\u5f55\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    24.04
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    25.51
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    27.12
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    29.99
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    31.51
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    33.37
                ],
                [
                    "\u521d\u4e00",
                    30.85
                ],
                [
                    "\u521d\u4e8c",
                    27.96
                ],
                [
                    "\u521d\u4e09",
                    26.94
                ],
                [
                    "\u9ad8\u4e00",
                    25.79
                ],
                [
                    "\u9ad8\u4e8c",
                    25.85
                ],
                [
                    "\u9ad8\u4e09",
                    23.85
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u7684\u6001\u5ea6\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    34.66
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    35.71
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    37.45
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    40.24
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    42.03
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    42.66
                ],
                [
                    "\u521d\u4e00",
                    41.4
                ],
                [
                    "\u521d\u4e8c",
                    37.86
                ],
                [
                    "\u521d\u4e09",
                    36.73
                ],
                [
                    "\u9ad8\u4e00",
                    35.53
                ],
                [
                    "\u9ad8\u4e8c",
                    34.36
                ],
                [
                    "\u9ad8\u4e09",
                    34.42
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u6c34\u5e73\u3001\u6548\u679c\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    32.38
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    33.56
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    35.31
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    38.57
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    40.56
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    41.81
                ],
                [
                    "\u521d\u4e00",
                    40.18
                ],
                [
                    "\u521d\u4e8c",
                    36.25
                ],
                [
                    "\u521d\u4e09",
                    34.8
                ],
                [
                    "\u9ad8\u4e00",
                    31.91
                ],
                [
                    "\u9ad8\u4e8c",
                    31.31
                ],
                [
                    "\u9ad8\u4e09",
                    31.51
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7ebf\u4e0a\u5b66\u4e60\u8d44\u6e90\u5185\u5bb9\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    25.63
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    26.51
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    28.95
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    32.22
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    34.56
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    36.15
                ],
                [
                    "\u521d\u4e00",
                    35.31
                ],
                [
                    "\u521d\u4e8c",
                    32.0
                ],
                [
                    "\u521d\u4e09",
                    30.69
                ],
                [
                    "\u9ad8\u4e00",
                    28.97
                ],
                [
                    "\u9ad8\u4e8c",
                    28.69
                ],
                [
                    "\u9ad8\u4e09",
                    27.39
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4f7f\u7528\u7684\u7ebf\u4e0a\u5b66\u4e60\u5e73\u53f0\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    23.39
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    24.43
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    26.82
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    30.1
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    32.69
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    34.42
                ],
                [
                    "\u521d\u4e00",
                    32.68
                ],
                [
                    "\u521d\u4e8c",
                    29.2
                ],
                [
                    "\u521d\u4e09",
                    27.76
                ],
                [
                    "\u9ad8\u4e00",
                    25.45
                ],
                [
                    "\u9ad8\u4e8c",
                    24.85
                ],
                [
                    "\u9ad8\u4e09",
                    23.06
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7ebf\u4e0a\u5b66\u4e60\u603b\u4f53\u6ee1\u610f\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    22.89
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    24.53
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    27.2
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    30.84
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    34.09
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    35.75
                ],
                [
                    "\u521d\u4e00",
                    34.04
                ],
                [
                    "\u521d\u4e8c",
                    30.27
                ],
                [
                    "\u521d\u4e09",
                    28.59
                ],
                [
                    "\u9ad8\u4e00",
                    25.99
                ],
                [
                    "\u9ad8\u4e8c",
                    25.67
                ],
                [
                    "\u9ad8\u4e09",
                    23.73
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u7ebf\u4e0a\u8bfe\u5802\u76f4\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6",
                "\u7ebf\u4e0a\u8bfe\u5802\u5f55\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6",
                "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u7684\u6001\u5ea6\u6ee1\u610f\u5ea6",
                "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u6c34\u5e73\u3001\u6548\u679c\u6ee1\u610f\u5ea6",
                "\u7ebf\u4e0a\u5b66\u4e60\u8d44\u6e90\u5185\u5bb9\u6ee1\u610f\u5ea6",
                "\u4f7f\u7528\u7684\u7ebf\u4e0a\u5b66\u4e60\u5e73\u53f0\u6ee1\u610f\u5ea6",
                "\u7ebf\u4e0a\u5b66\u4e60\u603b\u4f53\u6ee1\u610f\u5ea6"
            ],
            "selected": {
                "\u7ebf\u4e0a\u8bfe\u5802\u76f4\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6": true,
                "\u7ebf\u4e0a\u8bfe\u5802\u5f55\u64ad\u65b9\u5f0f\u6ee1\u610f\u5ea6": true,
                "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u7684\u6001\u5ea6\u6ee1\u610f\u5ea6": true,
                "\u6559\u5e08\u7ebf\u4e0a\u6559\u5b66\u6c34\u5e73\u3001\u6548\u679c\u6ee1\u610f\u5ea6": true,
                "\u7ebf\u4e0a\u5b66\u4e60\u8d44\u6e90\u5185\u5bb9\u6ee1\u610f\u5ea6": true,
                "\u4f7f\u7528\u7684\u7ebf\u4e0a\u5b66\u4e60\u5e73\u53f0\u6ee1\u610f\u5ea6": true,
                "\u7ebf\u4e0a\u5b66\u4e60\u603b\u4f53\u6ee1\u610f\u5ea6": true
            },
            "show": true,
            "right": "10%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e00\u5e74\u7ea7",
                "\u4e8c\u5e74\u7ea7",
                "\u4e09\u5e74\u7ea7",
                "\u56db\u5e74\u7ea7",
                "\u4e94\u5e74\u7ea7",
                "\u516d\u5e74\u7ea7",
                "\u521d\u4e00",
                "\u521d\u4e8c",
                "\u521d\u4e09",
                "\u9ad8\u4e00",
                "\u9ad8\u4e8c",
                "\u9ad8\u4e09"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 20,
            "max": 45,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u5404\u65b9\u9762\u7684\u6ee1\u610f\u5ea6\u2014\u2014\u4e0d\u540c\u5e74\u7ea7",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5e01a117f96f4d12a74d0bbb73f357f0.setOption(option_5e01a117f96f4d12a74d0bbb73f357f0);
    </script>
</body>
</html>
