<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="505c193489a941ed84deb7ef45725d40" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_505c193489a941ed84deb7ef45725d40 = echarts.init(
            document.getElementById('505c193489a941ed84deb7ef45725d40'), 'white', {renderer: 'canvas'});
        var option_505c193489a941ed84deb7ef45725d40 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u6bcf\u5929\u5b66\u4e60\u65f6\u957f",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    250.92
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    264.18
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    295.31
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    302.43
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    305.26
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    305.81
                ],
                [
                    "\u521d\u4e00",
                    389.44
                ],
                [
                    "\u521d\u4e8c",
                    398.59
                ],
                [
                    "\u521d\u4e09",
                    418.19
                ],
                [
                    "\u9ad8\u4e00",
                    400.6
                ],
                [
                    "\u9ad8\u4e8c",
                    395.37
                ],
                [
                    "\u9ad8\u4e09",
                    429.12
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e13\u5fc3\u7a0b\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    69.15
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    70.93
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    72.44
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    76.39
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    79.06
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    80.83
                ],
                [
                    "\u521d\u4e00",
                    78.32
                ],
                [
                    "\u521d\u4e8c",
                    75.41
                ],
                [
                    "\u521d\u4e09",
                    72.76
                ],
                [
                    "\u9ad8\u4e00",
                    69.08
                ],
                [
                    "\u9ad8\u4e8c",
                    69.98
                ],
                [
                    "\u9ad8\u4e09",
                    66.54
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6709\u6548\u5b66\u4e60\u65f6\u95f4",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e00\u5e74\u7ea7",
                    173.51
                ],
                [
                    "\u4e8c\u5e74\u7ea7",
                    187.38
                ],
                [
                    "\u4e09\u5e74\u7ea7",
                    213.92
                ],
                [
                    "\u56db\u5e74\u7ea7",
                    231.03
                ],
                [
                    "\u4e94\u5e74\u7ea7",
                    241.34
                ],
                [
                    "\u516d\u5e74\u7ea7",
                    247.19
                ],
                [
                    "\u521d\u4e00",
                    305.01
                ],
                [
                    "\u521d\u4e8c",
                    300.58
                ],
                [
                    "\u521d\u4e09",
                    304.28
                ],
                [
                    "\u9ad8\u4e00",
                    276.73
                ],
                [
                    "\u9ad8\u4e8c",
                    276.68
                ],
                [
                    "\u9ad8\u4e09",
                    285.54
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6bcf\u5929\u5b66\u4e60\u65f6\u957f",
                "\u4e13\u5fc3\u7a0b\u5ea6",
                "\u6709\u6548\u5b66\u4e60\u65f6\u95f4"
            ],
            "selected": {
                "\u6bcf\u5929\u5b66\u4e60\u65f6\u957f": true,
                "\u4e13\u5fc3\u7a0b\u5ea6": true,
                "\u6709\u6548\u5b66\u4e60\u65f6\u95f4": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e00\u5e74\u7ea7",
                "\u4e8c\u5e74\u7ea7",
                "\u4e09\u5e74\u7ea7",
                "\u56db\u5e74\u7ea7",
                "\u4e94\u5e74\u7ea7",
                "\u516d\u5e74\u7ea7",
                "\u521d\u4e00",
                "\u521d\u4e8c",
                "\u521d\u4e09",
                "\u9ad8\u4e00",
                "\u9ad8\u4e8c",
                "\u9ad8\u4e09"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5b66\u4e60\u60c5\u51b5\u5206\u6790\u2014\u2014\u4e0d\u540c\u5e74\u7ea7",
            "subtext": "(\u6bcf\u65e5\u5b66\u4e60\u65f6\u95f4/\u5206\u949f)",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_505c193489a941ed84deb7ef45725d40.setOption(option_505c193489a941ed84deb7ef45725d40);
    </script>
</body>
</html>
