<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="192801adffad459999073d0597bc801b" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_192801adffad459999073d0597bc801b = echarts.init(
            document.getElementById('192801adffad459999073d0597bc801b'), 'white', {renderer: 'canvas'});
        var option_192801adffad459999073d0597bc801b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                    "value": 17963
                },
                {
                    "name": "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                    "value": 7103
                },
                {
                    "name": "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                    "value": 4997
                },
                {
                    "name": "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                    "value": 16463
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 2375
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                        function() {                           return '\u73e0\u4e09\u89d2';                       }                       
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                    "value": 20937
                },
                {
                    "name": "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                    "value": 8516
                },
                {
                    "name": "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                    "value": 6149
                },
                {
                    "name": "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                    "value": 18817
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 3335
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                        function() {                           return '\u7ca4\u4e1c';                       }                       
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                    "value": 9110
                },
                {
                    "name": "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                    "value": 3857
                },
                {
                    "name": "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                    "value": 2634
                },
                {
                    "name": "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                    "value": 8297
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 1455
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                        function() {                           return '\u7ca4\u897f';                       }                       
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                    "value": 5830
                },
                {
                    "name": "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                    "value": 2317
                },
                {
                    "name": "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                    "value": 1659
                },
                {
                    "name": "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                    "value": 5244
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 949
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                        function() {                           return '\u7ca4\u5317';                       }                       
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                "\u5176\u4ed6"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "66%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u7684\u4e0d\u8db3\u2014\u2014\u4e0d\u540c\u5730\u533a",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_192801adffad459999073d0597bc801b.setOption(option_192801adffad459999073d0597bc801b);
    </script>
</body>
</html>
