<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a94cc53b65be40428fc34230089453af" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_a94cc53b65be40428fc34230089453af = echarts.init(
            document.getElementById('a94cc53b65be40428fc34230089453af'), 'white', {renderer: 'canvas'});
        var option_a94cc53b65be40428fc34230089453af = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                53840,
                21793,
                15439,
                48821,
                8114
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                    "value": 0.36
                },
                {
                    "name": "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                    "value": 0.15
                },
                {
                    "name": "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                    "value": 0.1
                },
                {
                    "name": "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                    "value": 0.33
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 0.05
                }
            ],
            "radius": 160,
            "center": [
                "20%",
                "40%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "xAxisIndex": 1,
            "yAxisIndex": 1
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570"
            ],
            "selected": {
                "\u4eba\u6570": true
            },
            "show": true,
            "right": "25%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                "\u5176\u4ed6"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "40%",
            "top": "10%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 30
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e0d\u5982\u8bfe\u5802\u6559\u5b66\u6548\u679c\u597d",
                "\u89c6\u9891\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u53c2\u5dee\u4e0d\u9f50",
                "\u5b66\u4e60\u8d1f\u62c5\u52a0\u91cd",
                "\u7f3a\u4e4f\u5e08\u751f\u4e92\u52a8",
                "\u5176\u4ed6"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u7684\u4e0d\u8db3",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u7684\u4e0d\u8db3",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "left": "60%",
            "bottom": "20%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "right": "55%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_a94cc53b65be40428fc34230089453af.setOption(option_a94cc53b65be40428fc34230089453af);
    </script>
</body>
</html>
