<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="30d9915d300a4673a709fdf307c4d363" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_30d9915d300a4673a709fdf307c4d363 = echarts.init(
            document.getElementById('30d9915d300a4673a709fdf307c4d363'), 'white', {renderer: 'canvas'});
        var option_30d9915d300a4673a709fdf307c4d363 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4ee5\u524d\u7684\u5b9e\u4f53\u8bfe\u5802\u6a21\u5f0f",
                    "value": 38584
                },
                {
                    "name": "\u5b9e\u4f53\u8bfe\u5802\u5b66\u4e60\u6a21\u5f0f\uff0c\u7ebf\u4e0a\u5b66\u4e60\u8d44\u6e90\u4f5c\u4e3a\u5b66\u4e60\u8d44\u6e90\u7684\u8865\u5145",
                    "value": 26778
                },
                {
                    "name": "\u7ebf\u4e0a\u7ebf\u4e0b\u6df7\u5408\u5f0f\u5b66\u4e60\u6a21\u5f0f",
                    "value": 9288
                },
                {
                    "name": "\u5b8c\u5168\u7ebf\u4e0a\u7684\u5b66\u4e60\u6a21\u5f0f",
                    "value": 3541
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "xAxisIndex": 0,
            "yAxisIndex": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u4ee5\u524d\u7684\u5b9e\u4f53\u8bfe\u5802\u6a21\u5f0f",
                "\u5b9e\u4f53\u8bfe\u5802\u5b66\u4e60\u6a21\u5f0f\uff0c\u7ebf\u4e0a\u5b66\u4e60\u8d44\u6e90\u4f5c\u4e3a\u5b66\u4e60\u8d44\u6e90\u7684\u8865\u5145",
                "\u7ebf\u4e0a\u7ebf\u4e0b\u6df7\u5408\u5f0f\u5b66\u4e60\u6a21\u5f0f",
                "\u5b8c\u5168\u7ebf\u4e0a\u7684\u5b66\u4e60\u6a21\u5f0f"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "75%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u75ab\u60c5\u7ed3\u675f\u540e\u559c\u6b22\u54ea\u79cd\u5b66\u4e60\u6a21\u5f0f",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "bottom": "15%",
            "containLabel": true,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_30d9915d300a4673a709fdf307c4d363.setOption(option_30d9915d300a4673a709fdf307c4d363);
    </script>
</body>
</html>
