<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="83050388e44a4004b07c9cdc8f5bf260" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_83050388e44a4004b07c9cdc8f5bf260 = echarts.init(
            document.getElementById('83050388e44a4004b07c9cdc8f5bf260'), 'white', {renderer: 'canvas'});
        var option_83050388e44a4004b07c9cdc8f5bf260 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u56de\u7b54\u95ee\u9898",
                    "value": 2360
                },
                {
                    "name": "\u5076\u5c14\u53c2\u4e0e\u56de\u7b54\u95ee\u9898",
                    "value": 10962
                },
                {
                    "name": "\u5927\u591a\u6570\u60c5\u51b5\u4e0b\u80fd\u56de\u7b54\u95ee\u9898",
                    "value": 5639
                },
                {
                    "name": "\u79ef\u6781\u53d1\u8a00\uff0c\u56de\u7b54\u95ee\u9898",
                    "value": 3763
                },
                {
                    "name": "\u8bfe\u5802\u6ca1\u6709\u95ee\u7b54\u73af\u8282\uff0c \u6ca1\u8ba1\u5212\u4f1a\u56de\u7b54",
                    "value": 2770
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u73e0\u4e09\u89d2';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u56de\u7b54\u95ee\u9898",
                    "value": 3473
                },
                {
                    "name": "\u5076\u5c14\u53c2\u4e0e\u56de\u7b54\u95ee\u9898",
                    "value": 12862
                },
                {
                    "name": "\u5927\u591a\u6570\u60c5\u51b5\u4e0b\u80fd\u56de\u7b54\u95ee\u9898",
                    "value": 5705
                },
                {
                    "name": "\u79ef\u6781\u53d1\u8a00\uff0c\u56de\u7b54\u95ee\u9898",
                    "value": 4166
                },
                {
                    "name": "\u8bfe\u5802\u6ca1\u6709\u95ee\u7b54\u73af\u8282\uff0c \u6ca1\u8ba1\u5212\u4f1a\u56de\u7b54",
                    "value": 4897
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u7ca4\u4e1c';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u56de\u7b54\u95ee\u9898",
                    "value": 1588
                },
                {
                    "name": "\u5076\u5c14\u53c2\u4e0e\u56de\u7b54\u95ee\u9898",
                    "value": 5639
                },
                {
                    "name": "\u5927\u591a\u6570\u60c5\u51b5\u4e0b\u80fd\u56de\u7b54\u95ee\u9898",
                    "value": 2329
                },
                {
                    "name": "\u79ef\u6781\u53d1\u8a00\uff0c\u56de\u7b54\u95ee\u9898",
                    "value": 1758
                },
                {
                    "name": "\u8bfe\u5802\u6ca1\u6709\u95ee\u7b54\u73af\u8282\uff0c \u6ca1\u8ba1\u5212\u4f1a\u56de\u7b54",
                    "value": 1850
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u7ca4\u897f';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0d\u56de\u7b54\u95ee\u9898",
                    "value": 836
                },
                {
                    "name": "\u5076\u5c14\u53c2\u4e0e\u56de\u7b54\u95ee\u9898",
                    "value": 3728
                },
                {
                    "name": "\u5927\u591a\u6570\u60c5\u51b5\u4e0b\u80fd\u56de\u7b54\u95ee\u9898",
                    "value": 1674
                },
                {
                    "name": "\u79ef\u6781\u53d1\u8a00\uff0c\u56de\u7b54\u95ee\u9898",
                    "value": 1194
                },
                {
                    "name": "\u8bfe\u5802\u6ca1\u6709\u95ee\u7b54\u73af\u8282\uff0c \u6ca1\u8ba1\u5212\u4f1a\u56de\u7b54",
                    "value": 998
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u7ca4\u5317';               }               
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0d\u56de\u7b54\u95ee\u9898",
                "\u5076\u5c14\u53c2\u4e0e\u56de\u7b54\u95ee\u9898",
                "\u5927\u591a\u6570\u60c5\u51b5\u4e0b\u80fd\u56de\u7b54\u95ee\u9898",
                "\u79ef\u6781\u53d1\u8a00\uff0c\u56de\u7b54\u95ee\u9898",
                "\u8bfe\u5802\u6ca1\u6709\u95ee\u7b54\u73af\u8282\uff0c \u6ca1\u8ba1\u5212\u4f1a\u56de\u7b54"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "66%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u7684\u8bfe\u5802\u4e92\u52a8\u9891\u7387\u2014\u2014\u4e0d\u540c\u5730\u533a",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_83050388e44a4004b07c9cdc8f5bf260.setOption(option_83050388e44a4004b07c9cdc8f5bf260);
    </script>
</body>
</html>
