<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="95cf0f90875e48eb8b9c704b4dc3b2b1" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_95cf0f90875e48eb8b9c704b4dc3b2b1 = echarts.init(
            document.getElementById('95cf0f90875e48eb8b9c704b4dc3b2b1'), 'white', {renderer: 'canvas'});
        var option_95cf0f90875e48eb8b9c704b4dc3b2b1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u9047\u5230\u7684\u4e3b\u8981\u95ee\u9898\u6570",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                39449,
                17905,
                20014,
                7473,
                11133,
                57367,
                15907,
                31612
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u9047\u5230\u7684\u4e3b\u8981\u95ee\u9898\u6570"
            ],
            "selected": {
                "\u9047\u5230\u7684\u4e3b\u8981\u95ee\u9898\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 15
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7f51\u7edc\u8d44\u6e90\u6709\u9650\uff0c\u5bb9\u6613\u62e5\u5835\u5361\u987f",
                "\u7ebf\u4e0a\u5b66\u4e60\u5e73\u53f0\u4f53\u9a8c\u4e0d\u597d\u6216\u529f\u80fd\u53d7\u9650",
                "\u4e0e\u6559\u5e08\u6c9f\u901a\u4e0d\u987a\u7545\uff0c\u95ee\u9898\u65e0\u6cd5\u53ca\u65f6\u89e3\u7b54",
                "\u8bfe\u540e\u4f5c\u4e1a\u8bbe\u7f6e\u4e0d\u5408\u7406",
                "\u8bfe\u7a0b\u8d44\u6e90\u8d28\u91cf\u6b20\u4f73",
                "\u957f\u65f6\u95f4\u89c2\u770b\u5c4f\u5e55\uff0c\u773c\u775b\u75b2\u52b3",
                "\u8981\u6c42\u5b89\u88c5\u7684\u8f6f\u4ef6\u5e73\u53f0\u8fc7\u591a\uff0c\u5bb9\u6613\u6df7\u6dc6",
                "\u73af\u5883\u5e72\u6270\u56e0\u7d20\u591a\uff0c\u96be\u4ee5\u96c6\u4e2d\u5b66\u4e60"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7ebf\u4e0a\u5b66\u4e60\u9047\u5230\u7684\u95ee\u9898\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "bottom": "15%",
            "containLabel": true,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_95cf0f90875e48eb8b9c704b4dc3b2b1.setOption(option_95cf0f90875e48eb8b9c704b4dc3b2b1);
    </script>
</body>
</html>
