<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8cf82d853620420da6f2d6671fe026c5" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_8cf82d853620420da6f2d6671fe026c5 = echarts.init(
            document.getElementById('8cf82d853620420da6f2d6671fe026c5'), 'white', {renderer: 'canvas'});
        var option_8cf82d853620420da6f2d6671fe026c5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 29175
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 27801
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 30851
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 34993
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 33814
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":            function() {               return '\u73e0\u4e09\u89d2';           }           
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 35245
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 34304
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 38295
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 43550
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 40937
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":            function() {               return '\u7ca4\u4e1c';           }           
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 14844
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 14546
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 16299
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 18568
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 18013
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":            function() {               return '\u7ca4\u897f';           }           
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 9517
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 9211
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 10173
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 11711
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 11073
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":            function() {               return '\u7ca4\u5317';           }           
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "66%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5b66\u4e60\u884c\u4e3a\u60c5\u51b5\u2014\u2014\u4e0d\u540c\u5730\u533a",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8cf82d853620420da6f2d6671fe026c5.setOption(option_8cf82d853620420da6f2d6671fe026c5);
    </script>
</body>
</html>
