<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e4659ea619f2461c9467d8b477b5d2cf" class="chart-container" style="width:1200px; height:685px;"></div>
    <script>
        var chart_e4659ea619f2461c9467d8b477b5d2cf = echarts.init(
            document.getElementById('e4659ea619f2461c9467d8b477b5d2cf'), 'white', {renderer: 'canvas'});
        var option_e4659ea619f2461c9467d8b477b5d2cf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 29839
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 29449
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 33872
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 36863
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 35776
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u4e61\u9547\u5c0f\u5b66';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 19113
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 18554
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 20110
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 23912
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 22315
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u4e61\u9547\u4e2d\u5b66';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 20280
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 19434
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 22022
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 24573
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 23474
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u57ce\u533a\u5c0f\u5b66';               }               
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                    "value": 19549
                },
                {
                    "name": "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                    "value": 18425
                },
                {
                    "name": "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                    "value": 19614
                },
                {
                    "name": "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                    "value": 23474
                },
                {
                    "name": "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c",
                    "value": 22272
                }
            ],
            "radius": [
                80,
                120
            ],
            "center": [
                "55%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":                function() {                   return '\u57ce\u533a\u4e2d\u5b66';               }               
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56de\u770b\u8bfe\u7a0b\u89c6\u9891",
                "\u8ba4\u771f\u5b66\u4e60\u8001\u5e08\u63d0\u4f9b\u7684\u5176\u4ed6\u8bfe\u7a0b\u8d44\u6599",
                "\u5f00\u5c55\u5c45\u5bb6\u81ea\u89c9\u81ea\u5b66\u3001\u81ea\u4fee\u6d3b\u52a8",
                "\u9047\u5230\u95ee\u9898\u65f6\uff0c\u79ef\u6781\u5411\u8001\u5e08\u63d0\u95ee",
                "\u7ebf\u4e0a\u5b8c\u6210\u4f5c\u4e1a\u7684\u8d28\u91cf\uff0c\u80fd\u591f\u8fbe\u5230\u4e0e\u7ebf\u4e0b\u4e00\u6837\u7684\u6548\u679c"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "66%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5b66\u4e60\u884c\u4e3a\u60c5\u51b5\u2014\u2014\u4e0d\u540c\u5b66\u6821\u7c7b\u578b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e4659ea619f2461c9467d8b477b5d2cf.setOption(option_e4659ea619f2461c9467d8b477b5d2cf);
    </script>
</body>
</html>
